<div class="form-group">
    <form  method="POST" action="<%= user_solutions_path %>">
        <div class="form-group">
            <label for="lesson_id" ><h3>Lab Solution</h3></label>
            <input id="lesson_id" type="hidden" name="lesson_id" value="<%= @lesson.id %>" />
        </div>
        <div class="form-group">
            <textarea class="form-control" name="solution">
            </textarea>
        </div>
        <input type="submit" value="Submit Solution" />
    </form>
    <% if current_user.admin %>
        <div class="text-center mt-3 mb-3">
            <%= link_to "See Solution",admin_lesson_path(@lesson),:class => "btn btn-danger" %> 
        </div>
    <% end %>
</div>

