<ul>
<% @lessons.each do |lesson| %>
    <li>
        <%= lesson.id %>.-<%= link_to("#{lesson.title}",lesson_path(lesson)) %>
            -Course Related:
        <%= link_to("#{lesson.chapter.course.title}",course_path(lesson.chapter.course)) %>
            -Chapter Retated:
        <%= link_to("#{lesson.chapter.title}",chapter_path(lesson.chapter)) %>
        </li>
<% end %>
</ul>

