Course: <%= @chapter.course.title %>
Status:
<% if chapter_completed(@chapter) %>
    Completed 
<% else %>
    Not Yet Completed
<% end %>

<h1><%= @chapter.title %></h1>

<%= link_to 'Edit', edit_chapter_path %>
<%= link_to 'Destroy', chapter_path(@chapter),data: {:confirm => 'Are you sure?'}, :method => :delete %>
