<div class="jumbotron jumbotron-fluid home-section-1 mb-0">
  <h4 class="display-4 text-center">Learn To Code For Free<span style="font-size:100px">.</span></h4>
  <div class="row">
      <div class="box col-md-4">
        <h3 class="text-center"><i class="fa fa-fire fa-2x"></i></h3>
        <p class="text-center">Join a supportive community of millions of coders</p>
      </div>
      <div class="box col-md-4">
        <h3 class="text-center"><i class="fa fa-certificate  fa-2x"></i></h3>
        <p class="text-center">Build projects and earn free certifications.</p>
      </div>
      <div class="box col-md-4">
        <h2 class="text-center"><i class="fa fa-briefcase fa-2x"></i></h2>
        <p class="text-center">Get experience by coding for nonprofits.</p>
      </div>
  </div>
  <a class="action-button col-md-6 offset-md-3 btn btn-lg" href="/courses" role="button">Get Started</a>
</div>
<div class="jumbotron jumbotron-fluid mb-0 home-section-2 ">
  <h3 class="display-4 text-center">Launch your developer career<span style="font-size:100px">.</span></h3>
  <div class="row">
      <div class="col-md-4">
        <h2 class="text-center"><img width="40%" src="https://res.cloudinary.com/dejyp5iex/image/upload/v1554747084/comfort-comfortable-contemporary-920382_t8kbui.jpg"/></h2>
        <blockquote class="blockquote">
        <p class="mb-0">
          Through freeCodeCamp, I built a robust and highly functional web app for a nonprofit. This led me to getting a fantastic job.
          </p>
          <footer class="blockquote-footer"> Meta Hirschl</footer>
        </blockquote>
      </div>
      <div class="box col-md-4">
        <h3 class="text-center"><img width="40%" src="https://res.cloudinary.com/dejyp5iex/image/upload/v1554747097/app-browser-coffee-6335_ncyuhw.jpg" /></h3>
        <blockquote class="blockquote">
          <p class="mb-0">
            freeCodeCamp is a great way for disabled veterans like me to retrain. I'm already receiving software engineering job offers.
            <p class="blockquote-footer">Brian Grant</p>
          </p>
        </blockquote>
      </div>
      <div class="col-md-4">
        <h3 class="text-center"><img width="40%" src="https://res.cloudinary.com/dejyp5iex/image/upload/v1554747112/apartment-browsing-communication-1266007_q07qpr.jpg" /></h3>
        <blockquote class="blockquote">
          <p class="mb-0">
            I joined freeCodeCamp with zero knowledge of web development. 6 months later, I landed my first job as a back end engineer.
              <p class="blockquote-footer">Maxim Orlov</p>
          </p>
      </blockquote>
      </div>
  </div>
          <hr/>
  <h3 class="display-4 text-center">Our mission<span style="font-size:100px">.</span></h3>
    <div>
      <p>
        To help people learn to code for free. 
        We accomplish this by creating thousands of videos, articles, and interactive coding lessons - all freely available to the public. 
        We also have thousands of freeCodeCamp study groups around the world.
        Donations to freeCodeCamp go toward our education initiatives, and help pay for servers, services, and staff.
      </p>
    </div>
  </div>
</div>
